.formulario{
    background-color: rgb(255, 255, 255);
}

.btnConfirmar{
    background-color: rgb(5, 127, 226);
    color: white;
    font-weight: bold;
}

.btnConfirmar:hover{
    background-color: rgb(130, 191, 219);
    color: black;
    border-color: rgb(5, 127, 226);
}